body {
    width: 100%;
    height: 100%;
    background-color: rgb(200, 235, 192);
    overflow: hidden;
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Work Sans;
}

header {
    width: 100%;
    display: flex;
    top: 0;
    height: 10%;
    align-items: center;
    border-bottom: 2px solid rgb(102, 255, 0);
    transition: top 0 0.3s;
    background-color: transparent;
    z-index: 9999;
    padding: 1.4% 0.4% 1.4% 0.4%;
    background-color: white;
}

#nav {
    position: relative;
    left: 15%;
    transition: left 0.2s ease;
}


#buscarapa {
    color: black;
    font-family: Work Sans;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#buscarapa:hover {
    color: rgb(102, 255, 0);
    transition: 0.5s all;
}

.formulario {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}


.formulario input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid rgb(102, 255, 0);
}


.formulario input[type=text] {
    border: none;
    border-bottom: 2px solid black;
    font-family: Work Sans;
    transition: 0.5s all;
    padding: 2px;
}

.formulario input[type=text]:hover {
    border-bottom: 2px solid rgb(102, 255, 0);
    transition: 0.5s all;
}

.formulario input[type=submit] {
    margin-left: 20px;
    font-family: Work Sans;
    background-color: transparent;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
}

.formulario input[type=submit]:hover {
    color: rgb(51, 221, 45);

}

.mostrar {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
    position: relative;
    right: 30%;
}

.ocultar {
    opacity: 0;
    visibility: none;
    transition: opacity 0.5s;
}

header .botones {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* Alinea los elementos hacia los extremos opuestos */
    margin-right: 3%;

}

header .botones ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

header .botones li {
    display: inline-block;
    padding: 10px 20px;
    color: black;
}

#tituloheader {
    padding-left: 1%;
    color: rgb(51, 221, 45);
    font-weight: 800;
    font-size: 42px;
}

header a {
    color: black;
    transition: 0.2s ease;
}

header a:hover {
    color: rgb(51, 221, 45);
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(56, 56, 56);
    display: flex;
    border-top: solid rgb(102, 255, 0) 2px;
}

footer .columna {
    width: 100%;

}

footer #columna1 {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

footer #columna2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer #columna2 li {
    display: inline-block;
    padding: 10px 20px;
}

footer a {
    color: white;
    transition: all 0.2s;
}

footer a:hover {
    color: rgb(51, 221, 45);
}


body #titulo {
    text-align: center;
    padding: 2% 3% 0.3% 3%;
    font-size: 60px;
}


body #subtitulo {
    text-align: center;
    padding: 0.8% 1% 2% 1%;
}

.articulos {
    width: 100%;
    height: auto;
    background-color: rgb(200, 235, 192);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 1%;
}

.articulo {
    width: 47.2%;
    height: auto;
    background-color: #94d793;
    margin: 0.4% 2% 1% 0.4%;
    border-radius: 10px;
    transition: 0.5s all;
    text-align: left;
}

.articulo h2 {
    position: relative;
    left: 20px;
    padding: 15px 15px 0px 15px;
}

#parrafo {
    position: relative;
    left: 3%;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    width: 94%;
}


#titulointro {
    position: relative;
    text-align: center;
    font-size: 39px;
    padding: 20px 20px 20px 20px;
}

.articulo img {
    position: relative;
    padding: 0px 20px 20px 20px;
    width: 31%;
    left: 35%;
}

#video {
    position: relative;
    padding: 0px 20px 20px 20px;
    left: 35%;
}

#carrousel {
    width: 50%;
    position: relative;
    left: 28%;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }

  #prevBtn {
    position: relative;
    left: 80%;
    font-size: 50px;
    background-color: transparent;
    border-color: transparent;
    top: -150px;
    cursor: pointer;
    transition: all 0.2s;
  }

  #nextBtn {
    position: relative;
    left: 20%;
    font-size: 50px;
    background-color: transparent;
    border-color: transparent;
    top: -150px;
    cursor: pointer;
    transition: all 0.2s;
  }

  #nextBtn:hover {
    color: white;
  }

  #prevBtn:hover {
    color: white;
  }

  #prevBtn {
    rotate: -180deg;
  }

  .circuito  {
    width: 100%;
    height: auto;
  }
  
  .circu {
    width: 100%;
    background-color: #94d793;
    margin: 20px;
    border-radius: 10px;
  }
  
  .circuito h2 {
    position: relative;
    left: 20px;
    padding: 15px 15px 0px 15px;
}