body {
    width: 100%;
    height: 100%;
    background-color: rgb(200, 235, 192);
    overflow: hidden;
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Work Sans;
}

header {
    width: 100%;
    display: flex;
    top: 0;
    height: 10%;
    align-items: center;
    border-bottom: 2px solid rgb(102, 255, 0);
    transition: top 0 0.3s;
    background-color: transparent;
    z-index: 9999;
    padding: 1.4% 0.4% 1.4% 0.4%;
    background-color: white;
    position: fixed;
}

#nav {
    position: relative;
    left: 15%;
    transition: left 0.2s ease;
}


#buscarapa {
    color: black;
    font-family: Work Sans;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#buscarapa:hover {
    color: rgb(102, 255, 0);
    transition: 0.5s all;
}

.formulario {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}


.formulario input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid rgb(102, 255, 0);
}


.formulario input[type=text] {
    border: none;
    border-bottom: 2px solid black;
    font-family: Work Sans;
    transition: 0.5s all;
    padding: 2px;
}

.formulario input[type=text]:hover {
    border-bottom: 2px solid rgb(102, 255, 0);
    transition: 0.5s all;
}

.formulario input[type=submit] {
    margin-left: 20px;
    font-family: Work Sans;
    background-color: transparent;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
}

.formulario input[type=submit]:hover {
    color: rgb(51, 221, 45);

}

.mostrar {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
    position: relative;
    right: 30%;
}

.ocultar {
    opacity: 0;
    visibility: none;
    transition: opacity 0.5s;
}

header .botones {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* Alinea los elementos hacia los extremos opuestos */
    margin-right: 3%;

}

header .botones ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

header .botones li {
    display: inline-block;
    padding: 10px 20px;
    color: black;
}

#tituloheader {
    padding-left: 1%;
    color: rgb(51, 221, 45);
    font-weight: 800;
    font-size: 42px;
}

header a {
    color: black;
    transition: 0.2s ease;
}

header a:hover {
    color: rgb(51, 221, 45);
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(56, 56, 56);
    display: flex;
    border-top: solid rgb(102, 255, 0) 2px;
}

footer .columna {
    width: 100%;
    
}

footer #columna1 {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

footer #columna2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer #columna2 li{
    display: inline-block;
    padding: 10px 20px;
}

footer a {
    color: white;
    transition: all 0.2s;
}

footer a:hover {
    color: rgb(51, 221, 45);
}

body .pagina {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 5%;
    overflow: hidden;
}

body .links {
    background-color: #94d793;
    width: 20%;
    height: 90vh;
    transition: ease 0.5s;
    display: flex;
    position: fixed;

}

.links a{
    color: black;
    transition: all 0.2s;
}

.links a:hover {
    color: white;
}

body .programacion {
    background-color: rgb(200, 235, 192);
    width: 100%;
    margin-left: 20%;
    transition: ease 0.1s;
}

body #left{
    position: relative;
    left: 90%;
    background-color: transparent;
    border: transparent;
    font-size: 50px;
    cursor: pointer;
    color: white;
    height: 6vh;
    z-index: 999;
    top: -0%;
    transition: ease 0.2s;
}


body ul li {
    position: relative;
    top: 2%;
}

#DESP {
    overflow: hidden;
    overflow-y: scroll;
}

#ulibrerias {
    padding: 2% 6% 2% 5%;
    text-align: justify;
    
}

#ulibrerias li {
    list-style: number;
    margin-bottom: 1%;
}

#ul li {
    font-size: 20px;
    list-style: disc;
    margin-left: 4%;
    margin-top: 6%;
}


.titulo {
    padding: 1% 3% 1% 3%;
}

#codecomplete {
    margin-bottom: 40px;
}

#parrafo {
    padding: 1% 3% 1% 3%;
    text-align: justify;
    line-height: 30px;
}

pre {
    position: relative;
    left: 3%;
}

#dentro {
    margin-left: 10%;
    
}

#dentro li {
    margin: 3%;
    list-style: square;
    font-size: 14px;
}

.programacion img {
    margin: 3%;
}

/* Boton descargar */

.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: transparent;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: black;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }
  
  .icon {
    color: rgb(0, 0, 0);
    top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #ffffff;
    border: solid 1px black;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  

  .boton {
    position: relative;
    left: 3%;
    top: 10px;
    margin: 50px 0px 50px 0px;
    display: flex;
  }


  #arriba {
    font-size: 20px;
    background-color: white;
    color: black;
    width: 45px;
    height: 45px;
    opacity: 0.75;
    border: 1px solid #e7eae8;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    padding-top: 0.6%;
    position: relative;
    left: 80%;
    -webkit-animation: bounce_513 1s infinite;
            animation: bounce_513 1s infinite;
            
  }
  
  @-webkit-keyframes bounce_513 {
    0%,
      100% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
      -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
              animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
              animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  @keyframes bounce_513 {
    0%,
      100% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
      -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
              animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
              animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  